html,
body {
    height: 100%;
    /* Pastikan elemen HTML dan Body memiliki tinggi penuh */
    margin: 0;
}

.container {
    height: 100%;
    /* Pastikan kontainer mengambil tinggi penuh */
}

.card img {
    margin-top: 30px;
    max-width: auto;
}
